#logo{
    width: 100px;
    margin-bottom: 10px;
}
#navbar{
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 100px;
}


    
  .btn{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    width: 120px;
    height: 50px;
  }

  nav li a{
    font-family: 'Poppins';
    font-weight: bold; 
    font-size:20PX;
  }

  #btn2{
      background-color: #E9D93D;
      outline: none;
      color: white;
      font-weight: bold;
      margin-left: 10px;
      font-family: 'Poppins';
      border-radius: 10px;
  }
  #btn2:hover{
    background-color: transparent;
    border-color: #E9D93D !important;
    border-style: solid;
    border-width: 2px;
    color: #E9D93D !important;
    
  }
  #btn1{
      background-color: transparent;
      border-color: #E9D93D !important;
      border-style: solid;
      border-width: 2px;
      font-weight: bold;
      color: #E9D93D;
      font-family: 'Poppins';
      border-radius: 10px;
  }
  #btn1:hover{
    background-color: #E9D93D;
    outline: none;
    font-weight: bold;
    color: white;
  }

  #navbarScroll ul{
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #navbarScroll ul li{
    margin-left: 30px;
  }
  #btn3:hover{
    background-color: white;
    box-shadow: 0px 15px 20px #8765f5;
    color: #8A69F8;
    transform: translateY(-7px);
  }


  /* main first parte */
  /* 002 */

 

  .content{
      font-family: 'Raleway';
      font-weight: bold;
  }
  #bigtitl{
      color: #E9D93D;
      font-size: 55px;
      margin-top: 30px;
      margin-bottom: 35px;
  }
  #paragr1{
      font-size: 20px;
      margin-bottom: 45px;
  }
  #heroimage{
      margin-left: 50px;
        width: 530px;
        height: 600px;
  }
  #flower{
      width: 130px;
  }

  #btn3{
    width: 250px;
    height: 60px;
    background: #8A69F8;
    border-radius: 0px !important;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }

  #hamburger,span{
      color: #8A69F8;
  }
  .imgLogo img{
      width: 110px;
      margin-left: auto;
      margin-right: auto;
  }
  #img22,#img23{
      margin-top: 20px;
  }
  /* #logosimg{
      margin-left: 60px;
      margin-right: 40px;
  } */
  #approuv{
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: bold;
    color: #8A69F8;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  /* First Section background */

  #fstSection{
    background: linear-gradient(270.59deg, #F6E3FF 0.49%, rgba(246, 227, 255, 0) 99.49%);
  }
  #logosimg{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;

  }
  
  #fm6 img{
    width: 100px;
    margin-top: 10px;
  }



  /* THOSE IS SOLUTIONS */


  #linkes{
    display: none;
  }

  .workcopy{
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
margin-top: 30px;

  }

  #worktitle{
    font-size: 24px;
    color: #8A69F8;
    margin-top: 40px;
  }

  #worktitle2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  #solutions{
    width: 75%;
    background: #8A69F8;
    border-radius: 15px;
    padding: 30px;
    height: 40%;
    
  }
  .chifres{
    color: white;
    font-weight: bold;
    margin-top: 15px;

  }
  .lttres{
    color: #E9D93D;
    font-size: 20px;
  }

  .imgIcon{
    width: 50%;
    align-items: center;
    text-align: center;
   margin-left: 30px;
   margin-top: 20px;
   background: white;
   padding: 10px;
   border-radius: 8px;
   
  }



  /* Section of offers */
  #offerBut{
    font-family: "Poppins";
    border-color: #8A69F8 !important;
    border-style: solid;
      border-width: 3px;
      width: 30%;
      color: #8A69F8;
      font-family: 'Raleway';
      font-weight: bold;
  }
  #offarTit{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 26px;
    color: #8A69F8;
    margin-bottom: 20px;
  }
  #offerCont{
    margin-top: 100px;
    
  }
  #offerPa{
    font-size: 20px;
  }
  .nav-item:hover {
    color: var(--text-color);
  }
  .nav-item:hover:after {
    left: 0;
    width: 100%;
  }


/* gutters section */


.gutters{
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 2%;
}
.gutters:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-position: right center;
}

#srvConte{
  width: 85%;
  margin-bottom: 10%;
}

.colIcon{
  width: 40%;

}
.colIcon3   {
  width: 40%;
}


.gutters a{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.gutters a span{
    margin-left: 20px;
    color: black !important;
}
.gutters a img{
    width: 20%;
}
.gutters a img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
#offerPa{
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-weight: bold;
}

.floats{
    float: right;
}

.icnstr{
    color: white;
    background: #3B00FF;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
    height: 50PX;

}


/* section of Pourquoi les entreprises se tournent vers FLANCE */
#carte1{
    background: #F6E3FF;
    border-radius: 14px;
    width: 57%;
    margin-right: 0px;
    padding: 40px;
    font-family: 'Raleway';
    font-weight: bold;
    margin-right: 3%;
}
.crt1ico{
    margin-right: 7%;
}

#carte1 h3{
    width: 80%;
    font-weight: bold;
    color: #3B00FF;
    margin-bottom: 40px;
    font-size: 38px;
}
#carte1 p{
    width: 120% !important;
    font-weight:bold;
    font-size: 17px;
}
#carte1 h4{
    font-weight: bold;
    font-size: 30px;
}
#lsticon{
    width: 48px;
    text-align: center;
}

.parts{
    margin-bottom: 20px;
}

#sectiwhy{
    margin-top: 60px;
}

#sndcart{
    background: #8A69F8;
    border-radius: 10px;
    width: 40%;
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Raleway';
    font-weight: bold;
}
#sndcart h4,h3{
  color: white;
}

#sndcart h3{
  
  font-weight: bold;
}
#trttitle{
  font-size: 38px;
}

#frtttl{
  text-align: end;
  width: 80%;
  padding-left: 20%;
  margin-bottom: 20%;
  margin-top: 15%;
  
}

#cltpro{
  float: right;
}
#sndcart h4{
  font-size: 35px;
  margin-left: 30px;
}
#sndcart h5{
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 40%;
}
#sndcart img{
  width: 40px !important;
  
}

#illusprs{
    width: 35%;
    
    position: absolute;
    float: right !important;
    margin-left: 30%;
    margin-top: 20%;
}

#sectiwhy{
    margin-bottom: 100Px;
}

#smesection{
    font-family: 'Raleway';
}
#smesection img{
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
}

#sndparts{
    background: #F7BEFC;
border-radius: 0px 20px 20px 0px;
padding-top: 5%;
padding-left: 5%;
padding-right: 5%;
}
#divone{
    margin-bottom: 40%;
}

hr{
    border: 2px solid whitesmoke;
}
#sndparts h4{
    font-size: 50px;
    font-weight: bold;
}
#sndparts p{
    font-size: 13px;
    line-height: 15px;
}
#sndparts h6{
    font-size: 25px;
color: #14534C;
}
#sndparts h5{
    font-size: 25px;
}

.wilthecolo{
    color: white;
}
.wilthecolo span{
    color: white;
}
#btn10{
    background: #FFFFFF;
border-radius: 24px;
width: 50%;
font-weight: 700;
font-size: 13px;
color: #14534C;
margin-bottom: 10%;
top: 5%;
}

#imagerev{
    width: 50%;
}


/*  */
/*  */

#reviews img{
    width: 80%;
    margin-bottom: 10%;
}

#reviews{
    background: #D7CDF7;
    padding: 3%;
    margin-top: 10%;
    

}
#reviews h1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 33px;
text-align: center;
margin-bottom: 5%;
color: #3B00FF;
}

.rvsImg{
    margin-top: 15px;
}

.cloks{
    margin: 0px;
}
#btn10:hover {
    background-color: #8A69F8;
    box-shadow: 0px 15px 20px #8765f5;
    color: #fff;
    transform: translateY(-7px);
  }


  #rvspara{
      margin-top: 10%;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
    
    color: #14534C;
  }

  #reviews a{
      color: white;
      background: #8A69F8;
      width: 5%;
      height: 15%;
      margin: auto;
      margin-bottom: auto;
      border-radius: 50%;
      }


      /* Last section */
      /* 077 */

      #centred{
        text-align: center;
        align-items: center;
        background-image: url(images/peaples.png);
        background-size: cover;
        height: 500px;
        width: 100%;
        padding: 20px;
      }

     #serch{
         margin-left: auto;
         margin-right: auto;
         float: center;
         
     }
     #serch input{
        border-radius: 10px 0px 0px 10px !important;
        height: 85%;
        box-shadow: 0px 4px 15px #C6B6FC;
     }
    #centred h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 47px;
        color: #8A69F8;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        

     }
     #serch button{
         background: #3B00FF;
         border-radius: 0px 10px 10px 0px;
         box-shadow: 0px 4px 15px #C6B6FC;
         margin-left: -330%;
     }
     #serch button i{
         color: white;
     }
 

     /* Footer style  */
     /* Footer */
 
 footer{
    background: #000000;
    margin-top: 7%;
    height: 470px;
    font-family: 'Poppins' !important;
    padding-top: 20PX;
    font-weight: bold;
 }



 .tittle5{
    font-family: 'Poppins' !important;
    font-weight: bold;
    margin-bottom: 25px;
    margin-right: 10px;
    font-size: 18px;
 }
 footer ul li a{
     text-decoration: none;
     color: rgb(187, 187, 187);
     
 }
 footer ul li{
     margin-bottom: 20px;
 }
 #copywritting{
     margin-top: 1%;
 }

 .logofoter{
     margin-top: 40%;
 }
 #reseau{
     color: white !important;
    
 }
 #smicons{
     font-size: 20px;
     margin-right: 6%;
 }

 #smpara{
    margin-left: 6%;
 }
 #fotersnd{
     margin-top: 2%;
 }






 /* the selection page  */  /* the selection page  */  /* the selection page  */  /* the selection page  */

 /* 1113 */

 #btnlogin{
     background: #8A69F8;
     color: white;
     font-family: 'Poppins';
      border-radius: 10px;
      width: 130X;
      height: 55PX;
      font-weight: bold;
      font-size: 18PX;
      box-shadow: rgba(109, 109, 150, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
 }

 #navbar2{
     padding-left: 5%;
     padding-right: 5%;
     margin-top: 10PX;
     
 }

 #btnlogin:hover{
     color: #8765f5;
     background: white;
     border-color: #8765f5;
     border-width: 3px;
 }
 /* #lines{
    border: 2px  #8A69F8 !important;
    height: 0px;
 } */

 #cartcontner{
    border: 2px solid #8A69F8;
    border-radius: 20px;
    width: 50%;
    padding: 5%;
    margin-top: 8%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 #cartcontner img{
     align-items: center;
     background: transparent;
 }
 #cartcontner img:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 .cartbor{
    border: 3px solid #8A69F8;
    border-radius: 20px;
    height: 250px;
 }

 #cartcontner h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 80px;
    color: #8A69F8;
    text-align: center;
 }
 #btncompt{
    background: #8A69F8;
    color: white;
    font-family: 'Poppins';
     border-radius: 30px;
     width: 220pX;
     height: 50PX;
     font-weight: bold;
     font-size: 18PX;
     box-shadow: rgba(109, 109, 150, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 60px;
 }
 #selpara{
     font-family: 'Raleway';
     font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 30px;
 }
 #selpara a{
     color: #8765f5;
     font-weight: bold;
     font-size: 19px;
     text-decoration: none;
 }
 #cartcontner P{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 10PX;
    color: #000000;
    margin-top: 20PX;
 }
 #smallft{
     background: transparent;
     color: #00000093;
     height: 100px;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 #cartcontner input{
    border: 2px solid #8A69F8;
 }

 #navspara{
    font-family: 'Raleway';
    font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   margin-top: 10px;
 }
 #navspara a{
    color: #8765f5;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
 }
 #btncompt{
     padding: auto;
 }
 #btncompt:hover{
    background-color: #8A69F8;
    box-shadow: 0px 15px 20px #8765f5;
    color: #fff;
    transform: translateY(-7px);
 }


 .brand-icons{
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   margin-bottom: 20px;
 }

 #applic{
   border: #000000 1px solid;
   border-radius: 25px;
   text-align: center;
   padding-top: 10px;
   font-family: 'Poppins';
font-weight: Bold;
font-size: 15px;
line-height: 22px;
padding-top: 10px;
text-align: center;
color: #000000;
height: 60%;

 }
 #applic i{
   margin-right: 10px;
   font-size: 20px;
   margin-bottom: 10px !important;

   
 }
#googlic{
  background: #4285F4;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 10%;
  color: white;
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: bold;
  height: 45px;
  
}
#googlic i{
  float: left !important;
  display: flex;
  justify-content: flex-start !important;
  text-align: center;
  margin: auto;
  padding: 10px;
  color: #4285F4;
  background: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: -13px !important;
  margin-top: -7px;
}
#ouline{
  margin-bottom: 20px;
}
.forms{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
color: #000000;
border: 1px solid rgba(0, 0, 0, 0.44) !important;
width: 80%;
margin-bottom: 20px;

}

#condtion{
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 13px !important;
text-align: start !important;
color: #000000;
margin-top: -23px !important;
margin-left: 20px !important;

}
#condtion a{
  color: #8765f5;
  text-decoration: none;
}
#checkid{
  margin-left: auto;
  margin-right: auto;
  width:85% !important;
  margin-top: 10px !important;
}

#crees{
  background: #8A69F8;
  color: white;
  font-family: 'Raleway';
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 10px;
  border-radius: 36px;
  height: 45px;
  margin-top: 30px;
}
#lastlnk{
  margin-top: 30px !important;
  font-size: 15px !important;
  
}
#lastlnk2{
  font-size: 15px !important;
}
#lastlnk2 a{
  text-decoration: none;
  color: #8765f5;
}
#lastlnk a{
  text-decoration: none;
  color: #8765f5;
}
#hrnav{
  color: #8765f5;
  border: 4px;
}
#hrfooter{
  color: #8765f5;
  border: 4px;
}
#lines{
  color: #8765f5;
  border: 4px;
}
.unekbtn{
  margin-bottom: 20px !important;
}

#cartcontner label{
    color: #000000 !important;
    font-family: 'Raleway' !important;
    font-weight: bold !important;
    font-size: 20px;
}
#radios2{
  margin-left: 13%;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Button créé un compte hover */
/* hover */
#crees:hover{
    background: white;
    border: 2px solid #8765f5;
    color: #8765f5;
    font-weight: bold;
}

#crees{
  margin-bottom: 30px !important;
}

#spanerror{
    color: rgba(255, 0, 0, 0.788);
  }
  
  #btnlogin a{
    text-decoration: none !important;
    color: white !important;
  }


  #spanerror{
    text-align: center;
    margin-left: 20%;
    margin-right: auto;
  }