#logo{
    width: 100px;
    margin-bottom: 10px;
}
#navbar{
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 100px;
}


    
  .btn{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    width: 120px;
    height: 50px;
  }

  nav li a{
    font-family: 'Poppins';
    font-weight: bold; 
    font-size:20PX;
  }

  #btn2{
      background-color: #E9D93D;
      outline: none;
      color: white;
      font-weight: bold;
      margin-left: 10px;
      font-family: 'Poppins';
      border-radius: 10px;
  }
  #btn2:hover{
    background-color: transparent;
    border-color: #E9D93D !important;
    border-style: solid;
    border-width: 2px;
    color: #E9D93D !important;
    
  }
  #btn1{
      background-color: transparent;
      border-color: #E9D93D !important;
      border-style: solid;
      border-width: 2px;
      font-weight: bold;
      color: #E9D93D;
      font-family: 'Poppins';
      border-radius: 10px;
  }
  #btn1:hover{
    background-color: #E9D93D;
    outline: none;
    font-weight: bold;
    color: white;
  }

  #navbarScroll ul{
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #navbarScroll ul li{
    margin-left: 30px;
  }


  /* main first parte */
  /* 002 */

 

  .content{
      font-family: 'Raleway';
      font-weight: bold;
  }
  #bigtitl{
      color: #E9D93D;
      font-size: 55px;
      margin-top: 30px;
      margin-bottom: 35px;
  }
  #paragr1{
      font-size: 20px;
      margin-bottom: 45px;
  }
  #heroimage{
      margin-left: 50px;
        width: 530px;
        height: 600px;
  }
  #flower{
      width: 130px;
  }

  #btn3{
    width: 250px;
    height: 60px;
    background: #8A69F8;
    border-radius: 0px !important;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }

  #hamburger,span{
      color: #8A69F8;
  }
  .imgLogo img{
      width: 110px;
      margin-left: auto;
      margin-right: auto;
  }
  #img22,#img23{
      margin-top: 20px;
  }
  /* #logosimg{
      margin-left: 60px;
      margin-right: 40px;
  } */
  #approuv{
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: bold;
    color: #8A69F8;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  /* First Section background */

  #fstSection{
    background: linear-gradient(270.59deg, #F6E3FF 0.49%, rgba(246, 227, 255, 0) 99.49%);
  }
  #logosimg{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;

  }
  
  #fm6 img{
    width: 100px;
    margin-top: 10px;
  }



  /* THOSE IS SOLUTIONS */


  #linkes{
    display: none;
  }

  .workcopy{
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
margin-top: 30px;

  }

  #worktitle{
    font-size: 24px;
    color: #8A69F8;
    margin-top: 40px;
  }

  #worktitle2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  #solutions{
    width: 75%;
    background: #8A69F8;
    border-radius: 15px;
    padding: 30px;
    height: 40%;
    
  }
  .chifres{
    color: white;
    font-weight: bold;
    margin-top: 15px;

  }
  .lttres{
    color: #E9D93D;
    font-size: 20px;
  }

  .imgIcon{
    width: 50%;
    align-items: center;
    text-align: center;
   margin-left: 30px;
   margin-top: 20px;
   background: white;
   padding: 10px;
   border-radius: 8px;
   
  }



  /* Section of offers */
  #offerBut{
    font-family: "Poppins";
    border-color: #8A69F8 !important;
    border-style: solid;
      border-width: 3px;
      width: 30%;
      color: #8A69F8;
      font-family: 'Raleway';
      font-weight: bold;
  }
  #offarTit{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 26px;
    color: #8A69F8;
    margin-bottom: 20px;
  }
  #offerCont{
    margin-top: 100px;
    
  }
  #offerPa{
    font-size: 20px;
  }
  .nav-item:hover {
    color: var(--text-color);
  }
  .nav-item:hover:after {
    left: 0;
    width: 100%;
  }


/* gutters section */


.gutters{
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  margin-bottom: 20px;
}
.gutters:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-position: right center;
}

#srvConte{
  width: 85%;
}

.colIcon{
  width: 40%;

}
.colIcon3   {
  width: 40%;
}


.gutters a{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.gutters a span{
    margin-left: 20px;
    color: black !important;
}
.gutters a img{
    width: 20%;
}
.gutters a img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
#offerPa{
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-weight: bold;
}

.floats{
    float: right;
}

.icnstr{
    color: white;
    background: #3B00FF;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
    height: 50PX;

}


/* section of Pourquoi les entreprises se tournent vers FLANCE */
#carte1{
    background: #F6E3FF;
    border-radius: 14px;
    width: 60%;
    margin-right: 0px;
    padding: 40px;
    font-family: 'Raleway';
    font-weight: bold;
}

#carte1 h3{
    width: 80%;
    font-weight: bold;
    color: #3B00FF;
    margin-bottom: 40px;
    font-size: 38px;
}
#carte1 p{
    width: 120% !important;
    font-weight:bold;
    font-size: 17px;
}
#carte1 h4{
    font-weight: bold;
    font-size: 30px;
}
#lsticon{
    width: 48px;
    text-align: center;
}

.parts{
    margin-bottom: 20px;
}

#sectiwhy{
    margin-top: 60px;
}

#sndcart{
    background: #8A69F8;
    border-radius: 10px;
    width: 40%;
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Raleway';
    font-weight: bold;
}
#sndcart h4,h3{
  color: white;
}

#sndcart h3{
  
  font-weight: bold;
}
#trttitle{
  font-size: 38px;
}

#frtttl{
  text-align: end;
  width: 80%;
  padding-left: 20%;
  margin-bottom: 30%;
  margin-top: 20%;
  
}

#cltpro{
  float: right;
}
#sndcart h4{
  font-size: 35px;
}
#sndcart h5{
  font-size: 22px;
  font-weight: bold;
}
#sndcart img{
  width: 30px !important;
}